[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/bundle/matrix.vim--Yang"]
	path = .vim/bundle/matrix.vim--Yang
	url = https://github.com/vim-scripts/matrix.vim--Yang.git
[submodule ".vim/bundle/vim-latex-suite"]
	path = .vim/bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/questbeat/vim-latex.git
[submodule ".vim/bundle/Engspchk"]
	path = .vim/bundle/Engspchk
	url = https://github.com/vim-scripts/Engspchk.git
[submodule ".vim/bundle/c.vim"]
	path = .vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/eclim"]
	path = .vim/bundle/eclim
	url = https://github.com/ervandew/eclim.git
[submodule ".vim/bundle/sudoku_game"]
	path = .vim/bundle/sudoku_game
	url = https://github.com/vim-scripts/sudoku_game.git
[submodule ".vim/bundle/TeTrIs.vim"]
	path = .vim/bundle/TeTrIs.vim
	url = https://github.com/vim-scripts/TeTrIs.vim.git
[submodule ".vim/bundle/winmanager"]
	path = .vim/bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule ".vim/bundle/SuperTab"]
	path = .vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule ".vim/bundle/vimomni"]
	path = .vim/bundle/vimomni
	url = https://github.com/vim-scripts/vimomni.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/vim-texlog"]
	path = .vim/bundle/vim-texlog
	url = https://github.com/glts/vim-texlog.git
[submodule ".vim/bundle/matlab.vim"]
	path = .vim/bundle/matlab.vim
	url = https://github.com/vim-scripts/matlab.vim.git
[submodule ".vim/bundle/matlabvimcolours"]
	path = .vim/bundle/matlabvimcolours
	url = https://github.com/iveney/matlabvimcolours.git
[submodule ".vim/bundle/vim-matlab-fold"]
	path = .vim/bundle/vim-matlab-fold
	url = https://github.com/djoshea/vim-matlab-fold.git
[submodule ".vim/bundle/vim-matlab"]
	path = .vim/bundle/vim-matlab
	url = https://github.com/sgeb/vim-matlab.git
[submodule ".vim/bundle/ShowFunc.vim--nianyang"]
	path = .vim/bundle/ShowFunc.vim--nianyang
	url = https://github.com/vim-scripts/ShowFunc.vim--nianyang.git
[submodule ".vim/bundle/Emmet.vim"]
	path = .vim/bundle/Emmet.vim
	url = https://github.com/vim-scripts/Emmet.vim.git
[submodule ".vim/bundle/maven-ide"]
	path = .vim/bundle/maven-ide
	url = https://github.com/vim-scripts/maven-ide.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule ".vim/bundle/The-NERD-Commenter"]
	path = .vim/bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule ".vim/bundle/JavaDecompiler.vim"]
	path = .vim/bundle/JavaDecompiler.vim
	url = https://github.com/vim-scripts/JavaDecompiler.vim.git
[submodule ".vim/bundle/The-NERD-tree"]
	path = .vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/indentjava.vim"]
	path = .vim/bundle/indentjava.vim
	url = https://github.com/vim-scripts/indentjava.vim.git
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule ".vim/bundle/mru.vim"]
	path = .vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule ".vim/bundle/tex_autoclose.vim"]
	path = .vim/bundle/tex_autoclose.vim
	url = https://github.com/vim-scripts/tex_autoclose.vim.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/JavaBrowser"]
	path = .vim/bundle/JavaBrowser
	url = https://github.com/vim-scripts/JavaBrowser.git
[submodule ".vim/bundle/vjde"]
	path = .vim/bundle/vjde
	url = https://github.com/cespare/vjde.git
[submodule ".vim/bundle/Auto-Pairs"]
	path = .vim/bundle/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/Pydiction"]
	path = .vim/bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule ".vim/bundle/python_fold"]
	path = .vim/bundle/python_fold
	url = https://github.com/mcapell/python_fold.git
[submodule ".vim/bundle/vim-autocomplpop"]
	path = .vim/bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule ".vim/bundle/vim-l9"]
	path = .vim/bundle/vim-l9
	url = https://github.com/git-mirror/vim-l9.git
[submodule ".vim/bundle/Vim-R-plugin"]
	path = .vim/bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule ".vim/bundle/pythoncomplete.vim"]
	path = .vim/bundle/pythoncomplete.vim
	url = https://github.com/mjbrownie/pythoncomplete.vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/solarized.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/python_fn.vim"]
	path = .vim/bundle/python_fn.vim
	url = https://github.com/Crapworks/python_fn.vim.git
[submodule ".vim/bundle/snippetsEmu"]
	path = .vim/bundle/snippetsEmu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "Pydiction"]
	path = Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
