[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/bundle/matrix.vim--Yang"]
	path = .vim/bundle/matrix.vim--Yang
	url = https://github.com/vim-scripts/matrix.vim--Yang.git
[submodule ".vim/bundle/vim-latex-suite"]
	path = .vim/bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/questbeat/vim-latex.git
[submodule ".vim/bundle/Engspchk"]
	path = .vim/bundle/Engspchk
	url = https://github.com/vim-scripts/Engspchk.git
[submodule ".vim/bundle/c.vim"]
	path = .vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/eclim"]
	path = .vim/bundle/eclim
	url = https://github.com/ervandew/eclim.git
[submodule ".vim/bundle/sudoku_game"]
	path = .vim/bundle/sudoku_game
	url = https://github.com/vim-scripts/sudoku_game.git
[submodule ".vim/bundle/TeTrIs.vim"]
	path = .vim/bundle/TeTrIs.vim
	url = https://github.com/vim-scripts/TeTrIs.vim.git
[submodule ".vim/bundle/winmanager"]
	path = .vim/bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule ".vim/bundle/SuperTab"]
	path = .vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule ".vim/bundle/vimomni"]
	path = .vim/bundle/vimomni
	url = https://github.com/vim-scripts/vimomni.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
