[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/bundle/matrix.vim--Yang"]
	path = .vim/bundle/matrix.vim--Yang
	url = https://github.com/vim-scripts/matrix.vim--Yang.git
[submodule ".vim/bundle/vim-latex-suite"]
	path = .vim/bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/questbeat/vim-latex.git
[submodule ".vim/bundle/Engspchk"]
	path = .vim/bundle/Engspchk
	url = https://github.com/vim-scripts/Engspchk.git
[submodule ".vim/bundle/c.vim"]
	path = .vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule ".vim/bundle/TeTrIs.vim"]
	path = .vim/bundle/TeTrIs.vim
	url = https://github.com/vim-scripts/TeTrIs.vim.git
[submodule ".vim/bundle/SuperTab"]
	path = .vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule ".vim/bundle/vimomni"]
	path = .vim/bundle/vimomni
	url = https://github.com/vim-scripts/vimomni.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/matlab.vim"]
	path = .vim/bundle/matlab.vim
	url = https://github.com/vim-scripts/matlab.vim.git
[submodule ".vim/bundle/vim-matlab-fold"]
	path = .vim/bundle/vim-matlab-fold
	url = https://github.com/djoshea/vim-matlab-fold.git
[submodule ".vim/bundle/ShowFunc.vim--nianyang"]
	path = .vim/bundle/ShowFunc.vim--nianyang
	url = https://github.com/vim-scripts/ShowFunc.vim--nianyang.git
[submodule ".vim/bundle/Emmet.vim"]
	path = .vim/bundle/Emmet.vim
	url = https://github.com/vim-scripts/Emmet.vim.git
[submodule ".vim/bundle/The-NERD-Commenter"]
	path = .vim/bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule ".vim/bundle/The-NERD-tree"]
	path = .vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule ".vim/bundle/mru.vim"]
	path = .vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/Auto-Pairs"]
	path = .vim/bundle/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/Pydiction"]
	path = .vim/bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule ".vim/bundle/python_fold"]
	path = .vim/bundle/python_fold
	url = https://github.com/mcapell/python_fold.git
[submodule ".vim/bundle/vim-l9"]
	path = .vim/bundle/vim-l9
	url = https://github.com/git-mirror/vim-l9.git
[submodule ".vim/bundle/pythoncomplete.vim"]
	path = .vim/bundle/pythoncomplete.vim
	url = https://github.com/mjbrownie/pythoncomplete.vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/solarized.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/python_fn.vim"]
	path = .vim/bundle/python_fn.vim
	url = https://github.com/Crapworks/python_fn.vim.git
[submodule ".vim/bundle/snippetsEmu"]
	path = .vim/bundle/snippetsEmu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "Pydiction"]
	path = Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-makegreen"]
	path = .vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule ".vim/bundle/pydoc.vim"]
	path = .vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".diary"]
	path = .diary
	url = git@bitbucket.org:liuzheng712/.diary.git
[submodule "bypy"]
	path = bypy
	url = https://github.com/houtianze/bypy.git
[submodule "thor"]
	path = thor
	url = https://github.com/liuzheng712/thor.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/vim-tmux"]
	path = .vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/dsummersl/gundo.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
